rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read: if false;
      allow write: if false;
    }

    match /users/{docId} {
      allow read: if request.auth != null
        && docId == request.auth.uid;
    }

    match /words/{docId} {
      allow read: if request.auth != null
        && resource.data.userUid == request.auth.uid;
    }

    match /sentences/{docId} {
      allow read: if request.auth != null
        && resource.data.userUid == request.auth.uid;
    }

    match /batches/{docId} {
      allow read: if request.auth != null
        && resource.data.userUid == request.auth.uid;
    }
  }
}